.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: auto;
}

.signup-box {
  background-color: white;
  padding: 30px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form input,
.signup-form select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #007cd1;
}
